#container{
    width: 900px;
    position: relative;
    height: 685px;
    margin: auto;
    top: 70px;
}
#score{
    position: absolute;
    left: 40px;
    /* top: 10%; */
    z-index: 2;
    font-size: 20px;
    font-family: 'Bungee Spice', cursive;
}
#game{
    z-index: 1;
    /* top: 70px; */
    margin-left: auto;
    position: absolute;
    text-align: center;
}
#time{
    position: absolute;
    left: 375px;
    /* top: 10%; */
    z-index: 2;
    font-size: 20px;
    font-family: 'Bungee Spice', cursive;
}
#play{
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 438px;
    font-size: large;
    font-family: 'Bungee Spice', cursive;
}
#bestScore{
    z-index: 2;
    position: absolute;
    right: 40px;
    /* top: 10%; */
    font-size: 20px;
    font-family: 'Bungee Spice', cursive;
}
/* .hide {
    display: none;
} */
#label{
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 400px;
    display: none;
    font-size: large;
    font-family: 'Bungee Spice', cursive;
}
#playAgain{
    position: absolute;
    z-index: 2;
    top: 50%;
    font-size: large;
    font-family: 'Bungee Spice', cursive;
}